html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  background-color: #fff8f0;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

a:link, a:visited { color: black; text-decoration: none; }
a:hover { color: orange; }

footer {
  text-align: center;
  display: table;
  margin: 0 auto;
  font-size: 0.8rem;
}

pre {
  overflow-x: auto;
}

.links {
  font-size: 1.6rem;
  padding: 10px 0;
}

.lyrics {
  white-space: pre-line;
}
