:root{
  --background: #fff8f0;
  --text-color: #160e00;
  --soft-text-color: #494745;
  --accent-color: #ea7358;
}
.darkmode{
  --background: #1e1e1e;
  --text-color: #fff3e8;
  --soft-text-color: #b9b0a7;
  --accent-color: #ea7358;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  background-color: var(--background);
  color: var(--text-color);
}

.page{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

a:link, a:visited { color: var(--text-color); text-decoration: none; }
a:hover { color: var(--accent-color); }

.inicio {
  position: absolute;
  top: 10px;
}

#theme-switch{
  background: transparent;
  border: none;
  position: absolute;
  top: 18px;
  right: 10px;
}
#theme-switch:hover { border: 2px solid var(--background); }
#theme-switch svg{ fill: var(--text-color); }
#theme-switch:hover svg{ fill: var(--accent-color); }
#theme-switch svg:last-child{ display: none; }
.darkmode #theme-switch svg:first-child{ display: none; }
.darkmode #theme-switch svg:last-child{ display: block; }


h2 { margin-bottom: 10px; }
hr {
  color: var(--text-color);
  border-bottom: none;
}

#searchBar {
  color: var(--text-color);
  width: 100%;
  border: 1px solid var(--text-color);
  background: transparent;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 7px;
}

#links {
  font-size: 1.6rem;
  padding: 0;
}

.soft {
  color: var(--soft-text-color);
  font-size: 1.3rem;
}

footer a:link, footer a:visited { color: var(--accent-color); }
footer {
  text-align: center;
  display: table;
  margin: 0 auto;
  font-size: 0.8rem;
}

.info {
  color: var(--soft-text-color);
  display: flex;
  justify-content: space-between;
}

.chords-scroll { overflow-x: auto; }
.chords{
  display: flex;
  justify-content: center;
  white-space: pre-line;
  min-width: max-content;
}

.lyrics {
  white-space: pre-line;
  font-family: 'Arial', sans-serif;
  line-height: 1.4;
}

.player {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.4rem;
}
#button {
  color: var(--text-color);
  background: var(--background);
  border: none;
  padding: 2px 2px;
  cursor: pointer;
  font-size: 1.1rem;
}
#bar {
  flex: 1;
  accent-color: var(--text-color);
  cursor: pointer;
  appearance: none; -webkit-appearance: none;
  background: transparent;
}
#bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: var(--text-color);
}
#bar::-moz-range-track {
  width: 100%;
  height: 1px;
  background: var(--text-color);
}
#bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: var(--text-color);
  margin-top: -5px;
  border-radius: 0;
  cursor: pointer;
}
#bar::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: var(--text-color);
  border: none;
  border-radius: 0;
  cursor: pointer;
}
